@import '../variables.scss';
@import '../animations/circle.scss';
@import '../animations/shake.scss';
@import '../animations/typing.scss';
@import '../animations/blinkCaret.scss';
@import '../animations/slideIn.scss';
@import './table.scss';


.content {

    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        font-family: $rowdiesRegular;
        font-size: 2.5em;
        color: $primaryLight;
        letter-spacing: 0.3em;
        margin: 0;
    }

    &-button {
        cursor: pointer;
    }

}

.layout-field {

    display: flex;
    justify-content: center;
    width: 80%;

    &-active {
        animation-name: shake;
        animation-duration: .5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
    }

    &-css {
        width: 100%;
        border: 1px solid $primaryDark;
        border-radius: 3px;
        padding: 0.7em;
    }

    &-html {
        width: 100%;
        margin-left: 10px;
        border: 1px solid $primaryDark;
        border-radius: 3px;
        padding: 0.7em;
        white-space: pre;

        &-item {
            color: $secondary;
            cursor: pointer;

            &-active {
                color: $primaryLight;
            }

            &:hover {
                color: $primaryLight;
            }
        }
    }

    &-content {
        display: flex;
        color: $secondary;
    }

    &-text {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 1em;

        &-answer {

            height: 30px;
            width: 300px;
            background-color: $bg;
            border: 1px solid $secondary;
            border-radius: 4px;
            color: $primaryLight;
            margin-left: 10px;

            &-active {
                font-family: monospace;
                overflow: hidden;
                border-right: .15em solid $primaryDark;
                white-space: nowrap;
                margin: 0 auto;
                letter-spacing: .15em;
                animation:
                    typing 3.5s steps(30, end),
                    blinkCaret .5s step-end infinite;
            }

        }

        &-button {
            height: 30px;
        }
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &-title {
            margin: 0;
            font-family: $rowdiesLight;
            color: $primaryDark;
        }

        &-subtitle {
            margin: 0;
            font-family: $rowdiesLight;
            color: $primaryDark;
        }
    }

    &-list {
        color: $primaryDark;
        margin: 0;
    }

}