.table {
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: no-repeat center/60% url('../../../src/images/table.png');
    height: 300px;
    width: 900px;
    padding-bottom: 50px;
}

.shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 80px;
    background-color: #f9f9f9;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: opacity .3s ease;
}

.table-item {

    display: flex;
    align-self: center;
    justify-content: center;

    animation: slide-in 0.5s forwards;

    &:not(:first-child) {
        margin-left: 10px;
    }

    &--active-tooltip {
        &>.tooltip {
            visibility: visible;
            opacity: 1;
            transition: opacity .3s ease;
        }
    }
}

.lemon {
    position: relative;
    background: linear-gradient(45deg, #ffe70c, #eef593, #ffe70c);
    width: 50px;
    height: 50px;
    border-radius: 70% 100% / 30% 100%;
    border: 1px solid $secondary;
    cursor: pointer;
}

.orange {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid $secondary;
    background: linear-gradient(45deg, #ff710c, #fa9146, #ff710c);
}


.plate {
    width: 80px;
    height: 80px;
    background-color: #f2f2f2;
    border: 4px solid #ccc;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    &-orange {
        border: 4px solid orange;
    }

    &-pink {
        border: 4px solid pink;
    }
}

.active {
    animation-name: circle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: center bottom;
}