@import '../styles/variables.scss';
@import '~normalize.css';
@import './simulatorSection/content.scss';
@import './levelSection.scss/levels.scss';

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $bg;
    font-size: 14px;
}

mark {
    background-color: transparent;
    border: 1px solid $primaryDark;
    border-radius: 4px;
    padding: 5px;
    color: $secondary;
}